<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Empire Invitational Basketball Tournment</h2>
                <hr class="light">
                <p class="text-faded">Epiphany Marthoma Church is hosting the 1st Annual Empire Invitational!

We will be hosting an all Marthoma tournament on September 3rd, 2016 at the Torne Valley Sports Complex.

We are welcoming everyone to come watch and support a great cause, as we will be donating to the Homes for the Homeless charity. At the door you will be asked which team you are coming to support. We will be taking a tally of which team brought the most supporters and the team with the most will receive lunch for them and their fans. So please bring your family, friends, and fans together for this event!
 </p>
                <a href="#teams" class="btn btn-default btn-xl">Check Out The Teams</a>
            </div>
        </div>
    </div>
</section>

