<section id="bethel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Bethel</h2>
                <hr class="primary">
            </div>
                <table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Joffie</td>
      <td>John</td>
      <td>F/C</td>
    </tr>
     <tr>
      <td>Manu</td>
      <td>Varughese</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Sam</td>
      <td>Solomon</td>
      <td>G</td>
    </tr>
     <tr>
      <td>Shane</td>
      <td>Varughese</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Treno</td>
      <td>Johnson</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Rojin</td>
      <td>John</td>
      <td>C</td>
    </tr>
    <tr>
      <td>Jithu</td>
      <td>Thomas</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Sabin</td>
      <td>Abraham</td>
      <td>G/F/C</td>
    </tr>
    <tr>
      <td>Amith</td>
      <td>Varughese</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Previn</td>
      <td>John</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Trenu</td>
      <td>Johnson</td>
      <td>G</td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
</section>