<section class="bg-primary" id="ebenezer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ebenezer</h2>
      <hr class="primary">
            </div>
              <table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nithin</td>
      <td>Thomas</td>
      <td>G</td>
    </tr>
     <tr>
      <td>Kevin</td>
      <td>Thomas</td>
      <td>G</td>
    </tr>
     <tr>
      <td>Kevin</td>
      <td>Chacko</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Robin</td>
      <td>Chacko</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Ivin</td>
      <td>Varughese</td>
      <td>C</td>
    </tr>
    <tr>
      <td>Rinju</td>
      <td>John</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Jason</td>
      <td>John</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Abeyson</td>
      <td>Jacob</td>
      <td>C</td>
    </tr>
    <tr>
      <td>Nikhil</td>
      <td>John</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Rahul</td>
      <td>Jacob</td>
      <td>G</td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
</section>
