<section class="bg-primary" id="ebenezer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ebenezer</h2>
                 <hr class="primary">
            </div>
        </div>
    </div>
</section>
