<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Empire Invitational Basketball Tournement</h1>
            <hr>
            <h3>September 3rd, 2016</h3> <br/>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

