<section class="bg-primary" id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Location</h2>
                <p> 
                    115 Torne Valley Rd
                    Hillburn, New York 10931
                </p>
                <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3004.9091093915813!2d-74.16444318458197!3d41.13651007928797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x89c2de29ca398fef%3A0x841a6c938ce9c222!2s115+Torne+Valley+Rd%2C+Hillburn%2C+NY+10931!3m2!1d41.136510099999995!2d-74.1622545!5e0!3m2!1sen!2sus!4v1469765490123" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
                </div>
            </div>
        </div>
    </div>
</section>

