<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="primary">
                <h3> TBA </h3>
            </div>
        </div>
    </div>
</section>

