<section id="statenisland">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Staten Island</h2>
                <hr class="primary">
            </div>
              <table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Justin</td>
      <td>Mani</td>
      <td>G</td>
    </tr>
     <tr>
      <td>Anish</td>
      <td>Jose</td>
      <td>F</td>
    </tr>
     <tr>
      <td>Jobin</td>
      <td>Joseph</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Jobin</td>
      <td>Jacob</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Sajin</td>
      <td>Abraham</td>
      <td>C</td>
    </tr>
    <tr>
      <td>Sugil</td>
      <td>Mathew</td>
      <td>C</td>
    </tr>
    <tr>
      <td>Joel</td>
      <td>George</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Subin</td>
      <td>Samuel</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Raji</td>
      <td>Jacob</td>
      <td>C</td>
    </tr>
     <tr>
      <td>Jubin</td>
      <td>John</td>
      <td>F</td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
</section>