<section class="bg-primary" id="standrews">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">St.Andrews</h2>
                 <hr class="primary">
            </div>
              <table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Josh</td>
      <td>Jacob</td>
      <td>PG</td>
    </tr>
     <tr>
      <td>Jovy</td>
      <td>Jacob</td>
      <td>SF/PF</td>
    </tr>
     <tr>
      <td>Shijin</td>
      <td>Peter</td>
      <td>SG</td>
    </tr>
    <tr>
      <td>Jerrin</td>
      <td>Peter</td>
      <td>PG</td>
    </tr>
    <tr>
      <td>Roshen </td>
      <td>Varughese</td>
      <td>SF/PF</td>
    </tr>
    <tr>
      <td>Ginu </td>
      <td>Abraham</td>
      <td>PG/SG</td>
    </tr>
    <tr>
      <td>Sherin </td>
      <td>Abraham</td>
      <td>PF/C</td>
    </tr>
    <tr>
      <td>Gracious</td>
      <td>Peter</td>
      <td>PG</td>
    </tr>
    <tr>
      <td>Alvin</td>
      <td>Reny</td>
      <td>PG</td>
    </tr>
    <tr>
      <td>Jebin</td>
      <td>Yohannan</td>
      <td>C</td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
</section>