<section id="stthomas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">St.Thomas</h2>
                <hr class="primary">
            </div>
              <table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Justin</td>
      <td>Vaidyan</td>
      <td>F</td>
    </tr>
     <tr>
      <td>Levan</td>
      <td>Thomas</td>
      <td>F</td>
    </tr>
     <tr>
      <td>Jithin </td>
      <td>Easo</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Jeffin</td>
      <td>Varughese</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Saju</td>
      <td>Mathew</td>
      <td>C</td>
    </tr>
    <tr>
      <td>Sean</td>
      <td>Thannickal</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Nobin</td>
      <td>Vaidian</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Nithin</td>
      <td>Thomas</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Jubil </td>
      <td>Oommen</td>
      <td>G</td>
    </tr>
    <tr>
      <td>Sibil</td>
      <td>George</td>
      <td>G</td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
</section>